@{ 
    ViewBag.Title = "Dashboard Page";
}

<ul class="jumbotron">
    <li>User Manager</li>
    <li>Employee Manager</li>
    <li>Supplier Manager</li>
    <li>Project Procurement Management Plan</li>
    <li>Purchase Request</li>
    <li>Purchase Order</li>
    <li>Receiving</li>
    <li>Inventory Manager</li>
    <li>QR Code Manager</li>
    <li>Reports</li>
</ul>